<%= provide :page_title, "Questions" %>
<% currently_at "Questions" %>

<h1 class="mb-4">Questions</h1>

<% @quests.each do |quest| %>
  <article class="card my-3">
    <div class="card-body">
      <h2><%= quest.title %></h2>

      <section class="card-text"> 
        <time datetime = <%= quest.formatted_created_at %>>
          <%= quest.formatted_created_at %>
        </time>

        <p class="my-2">
          <%= truncate strip_tags(quest.body), length: 150 %>
        </p>
      </section>

      <%= render 'buttons', quest: quest %>
    </div>  
  </article> 
<% end %>
