<%= provide :page_title, @quest.title %>

<h1 class="mb-4"><%= @quest.title %></h1>

<time datetime = <%= @quest.formatted_created_at %>>
  <%= @quest.formatted_created_at %>
</time>
<p><%= @quest.body %></p>

<%= render 'quests/buttons', quest: @quest %>

<h3 class="my-4">Write your answer</h3>

<%= render "answers/form" %>

<h2 class='mt-4'>Answers</h2>

<% @answers.each do |answer| %>
  <article class="mb-3">
  <time datetime = <%= answer.formatted_created_at %>>
    <%= answer.formatted_created_at %>
  </time>

  <p><%= answer.body %></p>
  <%= link_to "Edit", edit_quest_answer_path(@quest, answer), class: 'btn btn-info' %>
  <%= link_to "Delete", quest_answer_path(@quest, answer), class: 'btn btn-danger', data: {
                        turbo_method: :delete, 
                        turbo_confirm: "Are you sure?" } %> 
  </article>
<% end %>