<%= provide :page_title, @quest.title %>
<% currently_at "Questions" %>

<h1 class="mb-4"><%= @quest.title %></h1>

<time datetime = <%= @quest.formatted_created_at %>>
  <%= @quest.formatted_created_at %>
</time>
<div class="lead my-3">
  <%= sanitize @quest.body %>
</div>

<%= render 'quests/buttons', quest: @quest %>

<h3 class="my-4">Write your answer</h3>

<%= render "answers/form" %>

<h2 class='mt-4'>Answers</h2>

<%= paginate @answers %> 

<%= render @answers %>

<%= paginate @answers %> 
