<%= tag.article class: "mb-3 card", id: dom_id(answer) do  %>
  <div class="card-body">
    <div class="card-text">
      <small><time datetime = <%= answer.formatted_created_at %>>
        <%= answer.formatted_created_at %>
      </time></small>

      <div class="mt-2 mb-3">
        <%= sanitize answer.body %>
      </div>
    </div>
    <%= link_to "Edit", edit_quest_answer_path(@quest, answer), class: 'btn btn-info' %>
    <%= link_to "Delete", quest_answer_path(@quest, answer), class: 'btn btn-danger', data: {
                          turbo_method: :delete, 
                          turbo_confirm: "Are you sure?" } %> 
  </div>
<% end %>
